<section class="card l-section__timeline">
  <p-timeline
    *ngIf="encontros.length > 0; else isLoading"
    [value]="encontros"
    styleClass="customized-timeline"
  >
    <ng-template pTemplate="marker" let-encontro>
      <section *ngFor="let encontroStatus of encontrosStatus">
        <div *ngIf="encontroStatus.id === encontro.id">
          <span
            class="custom-marker shadow-2"
            [style.backgroundColor]="
              situacaoAprendizagem ===
                encontroStatus.totalSituacaoAprendizagem &&
              atividade === encontroStatus.totalAtividade &&
              objetoAprendizagem === encontroStatus.totalObjetoAprendizagem
                ? '#3f51b5'
                : '#00000026'
            "
          >
            <i
              [ngClass]="
                situacaoAprendizagem ===
                  encontroStatus.totalSituacaoAprendizagem &&
                atividade === encontroStatus.totalAtividade &&
                objetoAprendizagem === encontroStatus.totalObjetoAprendizagem
                  ? 'pi pi-check'
                  : 'pi pi-times'
              "
            ></i>
          </span>
        </div>
      </section>
    </ng-template>

    <ng-template pTemplate="content" let-encontro>
      <p-card
        [header]="
          encontro.horaInicio !== null
            ? (encontro.horaInicio
              | date : 'EEEE, dd/MM/yyyy' : '' : 'pt-BR'
              | titlecase)
            : encontro.horaInicio
        "
        [subheader]="
          encontro.descricao !== undefined && null
            ? encontro.descricao
            : ('UNIDADE CURRICULAR' | titlecase)
        "
      >
        <p id="descricao">
          {{
            encontro.descricao !== undefined && null
              ? encontro.descricao
              : " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quos distinctio sapiente minima provident nostrum dolore necessitatibus. Ex voluptate aut excepturi sed neque dolor, doloribus illo aliquam assumenda officia culpa."
          }}
        </p>

        <ul id="resumo">
          <section *ngFor="let encontroStatus of encontrosStatus">
            <div *ngIf="encontroStatus.id === encontro.id">
              <li id="situacao-aprendizagem">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  [ngClass]="
                    situacaoAprendizagem ===
                    encontroStatus.totalSituacaoAprendizagem
                      ? 'check'
                      : 'none'
                  "
                >
                  <p>
                    Situação de aprendizagem:
                    {{ situacaoAprendizagem }}
                    de
                    {{ encontroStatus.totalSituacaoAprendizagem }}
                  </p>
                  <p
                    *ngIf="
                      situacaoAprendizagem ===
                      encontroStatus.totalSituacaoAprendizagem
                    "
                  >
                    {{
                      encontro.horaFim
                        | date : "dd/MM/yyyy" : "" : "pt-BR"
                        | titlecase
                    }}
                  </p>
                </div>
              </li>

              <li id="objeto-aprendizagem">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  [ngClass]="
                    objetoAprendizagem ===
                    encontroStatus.totalObjetoAprendizagem
                      ? 'check'
                      : 'none'
                  "
                >
                  <p>
                    Objeto de aprendizagem:
                    {{ objetoAprendizagem }}
                    de
                    {{ encontroStatus.totalObjetoAprendizagem }}
                  </p>
                  <p
                    *ngIf="
                      objetoAprendizagem ===
                      encontroStatus.totalObjetoAprendizagem
                    "
                  >
                    {{
                      encontro.horaFim
                        | date : "dd/MM/yyyy" : "" : "pt-BR"
                        | titlecase
                    }}
                  </p>
                </div>
              </li>

              <li id="atividade">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  [ngClass]="
                    atividade === encontroStatus.totalAtividade
                      ? 'check'
                      : 'none'
                  "
                >
                  <p>
                    Atividade:
                    {{ atividade }}
                    de
                    {{ encontroStatus.totalAtividade }}
                  </p>
                  <p *ngIf="atividade === encontroStatus.totalAtividade">
                    {{
                      encontro.horaFim
                        | date : "dd/MM/yyyy" : "" : "pt-BR"
                        | titlecase
                    }}
                  </p>
                </div>
              </li>

              <!-- <li id="atividade-verificação">
                <div
                  fxLayout="row"
                  fxLayoutGap="10px"
                  [ngClass]="
                    atividadeVerificacao ===
                    encontroStatus.totalAtividadeVerificacao
                      ? 'check'
                      : 'none'
                  "
                >
                  <p>
                    Atividade de verificacao:
                    {{ atividadeVerificacao }}
                    de
                    {{ 3 }}
                  </p>
                  <p
                    *ngIf="
                      atividadeVerificacao ===
                      encontroStatus.totalAtividadeVerificacao
                    "
                  >
                    {{
                      encontro.horaFim
                        | date : "dd/MM/yyyy" : "" : "pt-BR"
                        | titlecase
                    }}
                  </p>
                </div>
              </li> -->

              <!-- <li
            id="badge"
            *ngIf="encontro.objetoAprendizagem.objetoAprendizagemId === 1"
          >
            <i
              [ngClass]="
                encontro.objetoAprendizagem.objetoAprendizagemId === 1
                  ? 'pi pi-gift'
                  : 'none'
              "
              style="font-size: 2rem"
            ></i>
          </li> -->
            </div>
          </section>
        </ul>
        <!-- <app-modal-detalhe-timeline></app-modal-detalhe-timeline> -->
        <button
          pButton
          label="Ler mais"
          class="p-button-text"
          [routerLink]="['/timeline/detalhe/', encontro.id]"
        ></button>
      </p-card>
    </ng-template>
  </p-timeline>
</section>

<ng-template #isLoading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
