<div class="card l-section__timeline">
  <p-timeline
    *ngIf="encontros$ | async as encontros; else isLoading"
    [value]="encontros"
    styleClass="customized-timeline"
  >
    <ng-template pTemplate="marker" let-encontro>
      <span
        class="custom-marker shadow-2"
        [style.backgroundColor]="
          encontro.situacaoAprendizagem.situacaoAprendizagemStatus
            | backgroundIcon
        "
      >
        <i
          [ngClass]="
            encontro.situacaoAprendizagem.situacaoAprendizagemStatus | icon
          "
        ></i>
      </span>
    </ng-template>

    <ng-template pTemplate="content" let-encontro>
      <p-card
        [header]="
          encontro.encontroHoraInicio !== null
            ? (encontro.encontroHoraInicio
              | date: 'EEEE, dd/MM/yyyy':'':'pt-BR'
              | titlecase)
            : encontro.encontroHoraInicio
        "
        [subheader]="encontro.encontroObservacao | titlecase"
      >
        <p>
          {{ encontro.encontroObservacao }} Lorem ipsum dolor, sit amet
          consectetur adipisicing elit. Adipisci, dolore commodi? Esse repellat
          possimus eos magni, odit nulla eaque dicta quibusdam alias dignissimos
          illo ea laboriosam reprehenderit mollitia molestiae iste!
        </p>
        <ul id="resumo">
          <li id="situacao-aprendizagem">
            <p
              [ngClass]="
                encontro.situacaoAprendizagem.situacaoAprendizagemStatus ===
                encontro.objetoAprendizagem.objetoAprendizagemStatus
                  ? 'check'
                  : 'none'
              "
            >
              Situação de aprendizagem:
              {{ encontro.situacaoAprendizagem.situacaoAprendizagemId }}
              de
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              -
              {{
                encontro.encontroHoraFim
                  | date: "dd/MM/yyyy":"":"pt-BR"
                  | titlecase
              }}
            </p>
          </li>
          <li id="objeto-aprendizagem">
            <p
              [ngClass]="
                encontro.situacaoAprendizagem.situacaoAprendizagemStatus ===
                encontro.objetoAprendizagem.objetoAprendizagemStatus
                  ? 'check'
                  : 'none'
              "
            >
              Objeto de aprendizagem:
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              de
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              -
              {{
                encontro.encontroHoraFim
                  | date: "dd/MM/yyyy":"":"pt-BR"
                  | titlecase
              }}
            </p>
          </li>
          <li id="atividade">
            <p
              [ngClass]="
                encontro.situacaoAprendizagem.situacaoAprendizagemStatus ===
                encontro.objetoAprendizagem.objetoAprendizagemStatus
                  ? 'check'
                  : 'none'
              "
            >
              Atividades:
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              de
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              -
              {{
                encontro.encontroHoraFim
                  | date: "dd/MM/yyyy":"":"pt-BR"
                  | titlecase
              }}
            </p>
          </li>
          <li id="atividade-verificação">
            <p
              [ngClass]="
                encontro.situacaoAprendizagem.situacaoAprendizagemStatus ===
                encontro.objetoAprendizagem.objetoAprendizagemStatus
                  ? 'check'
                  : 'none'
              "
            >
              Atividades de verficação:
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              de
              {{ encontro.objetoAprendizagem.objetoAprendizagemId }}
              -
              {{
                encontro.encontroHoraFim
                  | date: "dd/MM/yyyy":"":"pt-BR"
                  | titlecase
              }}
            </p>
          </li>
          <li
            id="badge"
            *ngIf="encontro.objetoAprendizagem.objetoAprendizagemId === 1"
          >
            <i
              [ngClass]="
                encontro.objetoAprendizagem.objetoAprendizagemId === 1
                  ? 'pi pi-gift'
                  : 'none'
              "
              style="font-size: 2rem"
            ></i>
          </li>
        </ul>
        <!-- <button pButton label="Read more" class="p-button-text"></button> -->
      </p-card>
    </ng-template>
  </p-timeline>
</div>

<ng-template #isLoading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
