<div class="card l-section__timeline">
  <p-timeline
    *ngIf="encontros.length !== 0; else isLoading"
    [value]="encontros"
    styleClass="customized-timeline"
  >
    <ng-template pTemplate="marker" let-encontro>
      <span
        class="custom-marker shadow-2"
        [style.backgroundColor]="
          SituacaoAprendizagem === totalSituacaoAprendizagem &&
          Atividade === totalAtividade &&
          BadgesObtidos === totalBadgesObtidos &&
          ObjetoAprendizagem === totalObjetoAprendizagem
            ? '#3f51b5'
            : '#00000026'
        "
      >
        <i
          [ngClass]="
            SituacaoAprendizagem === totalSituacaoAprendizagem &&
            Atividade === totalAtividade &&
            BadgesObtidos === totalBadgesObtidos &&
            ObjetoAprendizagem === totalObjetoAprendizagem
              ? 'pi pi-check'
              : 'pi pi-times'
          "
        ></i>
      </span>
    </ng-template>

    <ng-template pTemplate="content" let-encontro>
      <p-card
        [header]="
          encontro.horaInicio !== null
            ? (encontro.horaInicio
              | date : 'EEEE, dd/MM/yyyy' : '' : 'pt-BR'
              | titlecase)
            : encontro.horaInicio
        "
        [subheader]="
          encontro.descricao !== undefined && null
            ? encontro.descricao
            : ('UNIDADE CURRICULAR' | titlecase)
        "
      >
        <p id="descricao">
          {{
            encontro.descricao !== undefined && null
              ? encontro.descricao
              : " Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias quos distinctio sapiente minima provident nostrum dolore necessitatibus. Ex voluptate aut excepturi sed neque dolor, doloribus illo aliquam assumenda officia culpa."
          }}
        </p>

        <ul id="resumo">
          <li id="situacao-aprendizagem" *ngFor="let encontroStatus of encontrosStatus">
            <div fxLayout="row" fxLayoutGap="10px">
              <p
                [ngClass]="
                  SituacaoAprendizagem === totalSituacaoAprendizagem
                    ? 'check'
                    : 'none'
                "
              >
                Situação de aprendizagem:
                {{ encontroStatus.totalSituacaoAprendizagem }}
                de
                {{ encontroStatus.totalSituacaoAprendizagem }}
              </p>
              <!-- <p *ngIf="encontroStatus.id === encontro.id">
                aaaaaaaaaaaaaaaaaa:{{ encontroStatus }}
              </p> -->
              <p *ngIf="SituacaoAprendizagem === totalSituacaoAprendizagem">
                {{
                  encontro.horaFim
                    | date : "dd/MM/yyyy" : "" : "pt-BR"
                    | titlecase
                }}
              </p>
            </div>
          </li>

          <li id="objeto-aprendizagem">
            <div fxLayout="row" fxLayoutGap="10px">
              <p
                [ngClass]="
                  ObjetoAprendizagem === totalObjetoAprendizagem
                    ? 'check'
                    : 'none'
                "
              >
                Objeto de aprendizagem:
                {{ ObjetoAprendizagem }}
                de
                {{ totalObjetoAprendizagem }}
              </p>
              <p *ngIf="ObjetoAprendizagem === totalObjetoAprendizagem">
                {{
                  encontro.horaFim
                    | date : "dd/MM/yyyy" : "" : "pt-BR"
                    | titlecase
                }}
              </p>
            </div>
          </li>

          <li id="atividade">
            <div fxLayout="row" fxLayoutGap="10px">
              <p [ngClass]="Atividade === totalAtividade ? 'check' : 'none'">
                Atividades:
                {{ Atividade }}
                de
                {{ totalAtividade }}
              </p>
              <p *ngIf="Atividade === totalAtividade">
                {{
                  encontro.horaFim
                    | date : "dd/MM/yyyy" : "" : "pt-BR"
                    | titlecase
                }}
              </p>
            </div>
          </li>

          <li id="atividade-verificação">
            <div fxLayout="row" fxLayoutGap="10px">
              <p
                [ngClass]="
                  AtividadeVerificacao === totalAtividadeVerificacao
                    ? 'check'
                    : 'none'
                "
              >
                Situação de aprendizagem:
                {{ AtividadeVerificacao }}
                de
                {{ totalAtividadeVerificacao }}
              </p>
              <p *ngIf="AtividadeVerificacao === totalAtividadeVerificacao">
                {{
                  encontro.horaFim
                    | date : "dd/MM/yyyy" : "" : "pt-BR"
                    | titlecase
                }}
              </p>
            </div>
          </li>

          <!-- <li
            id="badge"
            *ngIf="encontro.objetoAprendizagem.objetoAprendizagemId === 1"
          >
            <i
              [ngClass]="
                encontro.objetoAprendizagem.objetoAprendizagemId === 1
                  ? 'pi pi-gift'
                  : 'none'
              "
              style="font-size: 2rem"
            ></i>
          </li> -->
        </ul>
        <!-- <app-modal-detalhe-timeline></app-modal-detalhe-timeline> -->
        <button
          pButton
          label="Ler mais"
          class="p-button-text"
          [routerLink]="['/timeline/detalhe/', encontro.id]"
        ></button>
      </p-card>
    </ng-template>
  </p-timeline>
</div>

<ng-template #isLoading>
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
